:root {
  --main-radius: 5px;
}

html {
  margin:auto;
}

.container {
  width: 360px;
  margin: auto;
  font-family: 'Archivo', open-sans;
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 60px 60px 60px 60px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
        "presentacion presentacion presentacion presentacion"
        "links links links links"
        ". footer footer ."
}

img {
  margin: auto;
  border-radius: 100%;
  border: 2px solid;
  width: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.h1 {
  text-align: center;
  font-weight: 900;
}

#presentacion {
  margin: auto;
  text-align: center;
  grid-area: presentacion;
}



#links {
  grid-area: links;
  text-align: center;
  padding: 10px;
  text-color: #fff;
}

#links a {
  padding: 20px;
  border-radius: 4px;
  color: #fff;
  background: #000;
}

#linkedin {
  width: 130px;
  margin-top:10px;
  border-radius: 4px;
}

#behance {
  margin-top: 10px;
  border-radius: 4px;
  width: 130px;
}

#footer {
  grid-area: footer;
  text-align: center;
}

@media only screen and (min-max: 560px) {
  .container {
  width: 100%;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  grid-template-areas:
        "presentacion"
        "links"
        "footer"
}
}


