#div {
width: 600 px;
 height: 920 px;
}

.wrapper {
background: #FFFFFF;
width: 100%;
padding: 16px;
display: grid;
grid-template-columns: 259px auto 24px;
grid-template-rows: 168px auto;
grid-gap: 8px;
}

.h1 {
  font-size: 26 px;
  colour: fff000;
  text-align: center;
  }
